{% extends '../includes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block body_attr %}
  class="hold-transition light-skin sidebar-mini theme-primary fixed"
{% endblock %}

{% block title %}
  {% if form.instance.pk %}Update{% else %}Create{% endif %} Invoice
{% endblock %}

{% block content %}
  {% include '../includes/sidebar_content.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container-full">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="d-flex align-items-center">
          <div class="me-auto">
            <h4 class="page-title">{% if form.instance.pk %}Update{% else %}Create{% endif %} Invoice</h4>
            <div class="d-inline-block align-items-center">
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#"><i class="mdi mdi-home-outline"></i></a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">{% if form.instance.pk %}Update{% else %}Create{% endif %} Invoice</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <section class="content">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">{% if form.instance.pk %}Update{% else %}Create{% endif %} Invoice</h3>
          </div>
          <div class="box-body">
            <form method="post">
              {% csrf_token %}
              {% if form.errors %}
              <div class="alert alert-danger my-2">
                Please correct the following errors to proceed 
              </div>
              {% endif %}
              {% for field in form %}
              <div class="form-group my-2">
                <label for="{{ field.id_for_label }}" class="{% if field.field.required %}required-field{% endif %}">
                  {{ field.label }}:
              </label>
                {{ field|add_class:"form-control" }}
                {% if field.help_text %}
                  <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                  <p class="text-danger mt-2">
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                  </p>
                  {% endif %}
                </div>
                {% endfor %}
              <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %} Invoice</button>
              <a href="{% url 'invoice_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
  </div>
  <!-- /.content-wrapper -->

  <div class="control-sidebar-bg"></div>

  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
      <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
        <li class="nav-item">
          <a class="nav-link" href="#">Purchase Now</a>
        </li>
      </ul>
    </div>&copy;<script>
                  document.write(new Date().getFullYear())
                </script> <a href="#">Multipurpose Themes</a>. All Rights Reserved.
  </footer>
{% endblock %}
