{% extends 'includes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block body_attr %}
  class="hold-transition light-skin sidebar-mini theme-primary fixed"
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block content %}
	
  {% include 'includes/sidebar_content.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper rounded-0">
    <div class="container-full ">
      <!-- Main content -->
      <section class="content mb-5">
        <div class="container mt-4">
          <h2 class="my-3">Activity Logs</h2>
          <div class="box">
            <div class="box-body mb-4">
          <table class="table border-no" id="data-table">
              <thead>
                  <tr>
                      <th>S.No</th>
                      <th>Employee</th>
                      <th>Role</th>
                      <th>Description</th>
                      <th>Timestamp</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for log in activity_logs %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>By {{ log.user.get_full_name }}</td>
                          <td class="text-capitalize">{{ log.user.role }}</td>
                          <td>{{ log.description }}</td>
                          <td>{{ log.timestamp }}</td>
                          <td>{{ log.action }}</td>
                      </tr>
                  {% empty %}
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      </section>
      <!-- /.content -->
    </div>
  </div>
  <!-- /.content-wrapper -->


{% endblock %}
