{% extends 'includes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block body_attr %}
  class="hold-transition light-skin sidebar-mini theme-primary fixed"
{% endblock %}

{% block title %}
  Discharge Summary
{% endblock %}

{% block content %}
  {% include 'includes/sidebar_content.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container-full">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="d-flex align-items-center">
          <div class="me-auto">
            <h4 class="page-title">{{ view.action_name }} Discharge Summary</h4>
            <div class="d-inline-block align-items-center">
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#"><i class="mdi mdi-home-outline"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="{% url 'discharge_summary_list' %}">Discharge Summaries</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Form
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <section class="content">
        <div class="box">
          <div class="box-header with-border">
            <h4 class="box-title">{{ view.action_name }} Discharge Summary</h4>
          </div>
          <div class="box-body">
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}" class="{% if field.field.required %}required-field{% endif %}">
                  {{ field.label }}:
              </label>
                {{ field|add_class:"form-control" }}
                {% if field.help_text %}
                  <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
              </div>
            {% endfor %}
              <div class="box-footer d-flex align-items-center">
                <button type="submit" class="btn btn-primary mx-2">Save</button>
                <a href="{% url 'discharge_summary_list' %}" class="btn btn-danger mx-2">Back</a>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
  </div>
  <!-- /.content-wrapper -->

  <div class="control-sidebar-bg"></div>

  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
      <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
        <li class="nav-item">
          <a class="nav-link" href="https://themeforest.net/item/doclinic-medical-responsive-bootstrap-admin-dashboard/32737529">Purchase Now</a>
        </li>
      </ul>
    </div>&copy;<script>
                  document.write(new Date().getFullYear())
                </script> <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights Reserved.
  </footer>
{% endblock %}
