{% extends 'includes/base.html' %}
{% load static %}

{% block body_attr %}
  class="hold-transition light-skin sidebar-mini theme-primary fixed"
{% endblock %}

{% block title %}Dashboard{% endblock %}
{% block content %}

{% include 'includes/sidebar_content.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper rounded-0">
	  <div class="container-full ">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xxxl-6 col-xl-12 col-12 ">	
					<div class="box-body d-sm-flex justify-content-between align-items-center">
						<div>
							<h1 class="fw-500 text-blue">Hi Mary</h1>
							<p class="text-fade m-0">Welcome Mary gary We are proud  to you with us.</p>
							<p class="text-fade">We all have faith that you'll deliver result & make us all proud.</p>
						</div>
						<div id="notifications-list"></div>
						<div>
							<p class="text-fade fs-16 w-100">1 Aug 2022</p>
						</div>
					</div>					
					<div class="box">
						<div class="box-body px-35 bg-lightgray">
							<div class="d-flex justify-content-between align-items-center">
								<h4 class="m-0">Revenue</h4>
								<div class="dropdown pull-right position-year">
									<button class="bg-blue btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Yearly</button>
									<div class="dropdown-menu">
									  <a class="dropdown-item active" href="#">Today</a>
									  <a class="dropdown-item" href="#">Yesterday</a>
									  <a class="dropdown-item" href="#">Last week</a>
									  <a class="dropdown-item" href="#">Last month</a>
									</div>
								</div>
							</div>
							<div class="py-20">
								<div class="d-flex justify-content-start align-items-center">
									<div class="me-30">
										<h5 class="text-fade">This month</h5>
										<h2 class="m-0  text-blue">$124,12</h2>
									</div>
									<div>
										<h5 class="text-fade">This week</h5>
										<h2 class="m-0 text-blue">$4879</h2>
									</div>
								</div>
							</div>
							<div id="chart-1"></div>
						</div>
					</div>
				</div>

				<div class="col-xxxl-3 col-xl-6 col-lg-6">
					<div class="box bg-lightgray">		
						<div class="box-body px-0 appointment">	
							<div class="d-flex justify-content-between align-items-center pb-30 px-30">
								<h4 class="m-0">Today's Appointment</h4>
							</div>
							<div class="pt-15 pb-25 d-flex justify-content-between align-items-center px-30 bb-gray-1">
								<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
									<div class="d-flex justify-content-between align-items-center">
										<img src="{% static 'images/avatar/avatar-13.png' %}" class="me-20 avatar bg-light rounded-circle" alt="">
										<div>
											<p class="m-0 fs-16 fw-600 hover-blue">John Smith</p>
											<p class="m-0 fs-12 fw-600 text-lightgreen"> First visit</p>
										</div>
									</div>
									<div >
										<p class="mb-0 fs-16"><i class="fa fa-check-circle text-lightgreen fs-18 me-5" aria-hidden="true"></i> 10:00 AM</p>
									</div>
								</div>								
							</div>
							<div class="py-25 d-flex justify-content-between align-items-center px-25 bb-gray-1">
								<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
									<div class="d-flex justify-content-between align-items-center">
										<img src="{% static 'images/avatar/avatar-13.png' %}" class="me-20 avatar bg-light rounded-circle" alt="">
										<div>
											<p class="m-0 fs-16 fw-600 hover-blue">Hilda Hunter</p>
											<p class="m-0 fs-12 fw-600 text-fade"> First visit</p>
										</div>
									</div>
									<div >
										<p class="mb-0 fs-16"><i class="fa fa-check-circle text-lightgreen fs-18 me-5" aria-hidden="true"></i> 11:00 AM</p>
									</div>
								</div>								
							</div>
							<div class="py-25 d-flex justify-content-between align-items-center px-25 bb-gray-1">
								<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
									<div class="d-flex justify-content-between align-items-center">
										<img src="{% static 'images/avatar/avatar-13.png' %}" class="me-20 avatar bg-light rounded-circle" alt="">
										<div>
											<p class="m-0 fs-16 fw-600 hover-blue">Michal Bomb</p>
											<p class="m-0 fs-12 fw-600 text-lightgreen"> First visit</p>
										</div>
									</div>
									<div >
										<p class="mb-0 fs-16"><i class="fa fa-check-circle text-lightgreen fs-18 me-5" aria-hidden="true"></i> 12:00 PM</p>
									</div>
								</div>								
							</div>
							<div class="py-25 d-flex justify-content-between align-items-center px-25 bb-gray-1">
								<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
									<div class="d-flex justify-content-between align-items-center">
										<img src="{% static 'images/avatar/avatar-13.png' %}" class="me-20 avatar bg-light rounded-circle" alt="">
										<div>
											<p class="m-0 fs-16 fw-600 hover-blue">Ellen Barton</p>
											<p class="m-0 fs-12 fw-600 text-fade"> First visit</p>
										</div>
									</div>
									<div >
										<p class="mb-0 fs-16"><i class="fa fa-check-circle text-lightgreen fs-18 me-5" aria-hidden="true"></i> 13:00 PM</p>
									</div>
								</div>								
							</div>
							<div class="py-25 d-flex justify-content-between align-items-center px-25 bb-gray-1">
								<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
									<div class="d-flex justify-content-between align-items-center">
										<img src="{% static 'images/avatar/avatar-13.png' %}" class="me-20 avatar bg-light rounded-circle" alt="">
										<div>
											<p class="m-0 fs-16 fw-600 hover-blue">Thad Ennings</p>
											<p class="m-0 fs-12 fw-600 text-danger"> Consultation</p>
										</div>
									</div>
									<div >
										<p class="mb-0 fs-16"><i class="fa fa-times-circle text-danger fs-18 me-5" aria-hidden="true"></i> 14:00 PM</p>
									</div>
								</div>								
							</div>
							<div class="pt-25 d-flex justify-content-between align-items-center px-25">
								<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
									<div class="d-flex justify-content-between align-items-center">
										<img src="{% static 'images/avatar/avatar-13.png' %}" class="me-20 avatar bg-light rounded-circle" alt="">
										<div>
											<p class="m-0 fs-16 fw-600 hover-blue	">Brittni Lando</p>
											<p class="m-0 fs-12 fw-600 text-fade"> First visit</p>
										</div>
									</div>
									<div >
										<p class="mb-0 fs-16"><i class="fa fa-times-circle text-danger fs-18 me-5" aria-hidden="true"></i> 16:00 PM</p>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>

				<div class="col-xxxl-3 col-xl-6 col-lg-6 col-12">
					<div class="box box-body bg-lightgray dr-profile">
						<div class="">
							<h4 class="box-title mb-0">Profile</h4>
							<ul class="box-controls pull-right">
							  <li class="dropdown">
								<a data-bs-toggle="dropdown" href="#" class="px-10"><i class="ti-settings bg-light text-dark rounded py-5 px-10"></i></a>
								<div class="dropdown-menu dropdown-menu-end">
								  <a class="dropdown-item" href="#"><i class="ti-import"></i> Import</a>
								  <a class="dropdown-item" href="#"><i class="ti-export"></i> Export</a>
								  <a class="dropdown-item" href="#"><i class="ti-printer"></i> Print</a>
								  <div class="dropdown-divider"></div>
								  <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
								</div>
							  </li>
							</ul>
						</div>
						<div class="box-body px-0 pt-40 text-center">
							<div class="avatar avatar-xxl status-success">
								<img src="{% static 'images/avatar/avatar-13.png' %}" class="rounded-circle bg-blue" alt="">
							</div>
							<h3 class="mt-20 mb-10">Dr. Mary Gary</h3>
							<p class="mb-0 fs-18 text-fade">Infectious disease doctors.</p>
						</div>
						<div class="box-body pb-40">
							<div class="row">
								<div class="col-xxl-6 col-lg-6 col-sm-6 col-6">
									<div class="text-center">
										<h5 class="text-fade fs-16">Overall Rating</h5>
										<h3 class="mb-2 text-blue">4.5</h3>
									</div>
								</div>
								<div class="col-xxl-6 col-lg-6 col-sm-6 col-6">
									<div class="text-center">
										<h5 class="text-fade fs-16">Total Patients</h5>
										<h3 class="mb-2 text-blue">200</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="mb-30 d-flex justify-content-between align-items-center">
							<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
								<div class="d-flex justify-content-between align-items-center">
									<img src="{% static 'images/avatar/avatar-13.png' %}" class="me-20 avatar bg-light rounded-circle" alt="">
									<div>
										<p class="m-0 fs-16 fw-600 hover-blue">Alexandra</p>
										<p class="m-0 fs-12 text-mute">Dr. Mary is a great doctor!</p>
									</div>
								</div>
							</div>								
						</div>
						<div class="mb-30 d-flex justify-content-between align-items-center">
							<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
								<div class="d-flex justify-content-between align-items-center">
									<img src="{% static 'images/avatar/avatar-13.png' %}" class="me-20 avatar bg-light rounded-circle" alt="">
									<div>
										<p class="m-0 fs-16 fw-600 hover-blue">Mackenzie</p>
										<p class="m-0 fs-12 text-mute">Dr. Mary and the staff are friendly</p>
									</div>
								</div>
							</div>								
						</div>
						<div class="mb-5 d-flex justify-content-between align-items-center">
							<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
								<div class="d-flex justify-content-between align-items-center">
									<img src="{% static 'images/avatar/avatar-13.png' %}" class="me-20 avatar bg-light rounded-circle" alt="">
									<div>
										<p class="m-0 fs-16 fw-600 hover-blue">Raelynn</p>
										<p class="m-0 fs-12 text-mute">Dr. Mary was a wonderful surgeon</p>
									</div>
								</div>
							</div>								
						</div>
					</div>
				</div>

				<div class="col-xxxl-6 col-xl-4 col-12">						
					<div class="box">
						<div class="box-body px-35 bg-lightgray">
							<div class="d-flex justify-content-between align-items-center">
								<h4 class="m-0">Duty Hour</h4>
								<div class="dropdown pull-right position-year">
									<button class="bg-blue btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Weekly</button>
									<div class="dropdown-menu">
									  <a class="dropdown-item active" href="#">Today</a>
									  <a class="dropdown-item" href="#">Yesterday</a>
									  <a class="dropdown-item" href="#">Last week</a>
									  <a class="dropdown-item" href="#">Last month</a>
									</div>
								</div>
							</div>

							<div class="box-body pb-0 pt-40 px-0">
								<div class="pb-10">
									<p class="fs-16">Avg Duty Hour  <span class="text-blue fs-18 fw-500"> 57 h</span></p>
								</div>
								<small class="table-scroll-contant">***Drag a table to scroll***</small>
								<div class="duty-hour">
									<ul class="d-flex justify-content-between px-10 m-0">
										<li class="rounded15 text-center">
											<a href="#" class="active">
												<p class="mb-5">Sat</p>
												<p class="m-0 fw-600 fs-16">8</p>
											</a>
										</li>
										<li class="rounded15  text-center">
											<a href="#" >
												<p class="mb-5">Sun</p>
												<p class="m-0 fw-600 fs-16">6</p>
											</a>
										</li>
										<li class="rounded15 text-center ">
											<a href="#">
												<p class="mb-5">Mon</p>
												<p class="m-0 fw-600 fs-16">5</p>
											</a>
										</li>
										<li class="rounded15 text-center">
											<a href="#">
												<p class="mb-5">Tue</p>
												<p class="m-0 fw-600 fs-16">7</p>
											</a>
										</li>
										<li class="rounded15 text-center">
											<a href="#">
												<p class="mb-5">Wed</p>
												<p class="m-0 fw-600 fs-16">8</p>
											</a>
										</li>
										<li class="rounded15 text-center">
											<a href="#">
												<p class="mb-5">Thu</p>
												<p class="m-0 fw-600 fs-16">8</p>
											</a>
										</li>
										<li class="rounded15 text-center">
											<a href="#">
												<p class="mb-5">Fri</p>
												<p class="m-0 fw-600 fs-16">5</p>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xxxl-3 col-xl-4 col-lg-6 col-12">						
					<div class="box">
						<div class="box-body pb-0 bg-lightgray patient-graph">
							<div class="d-flex justify-content-between align-items-center px-15">
								<h4 class="m-0">Patient Gender</h4>
								<span class="float-end "><a class="btn btn-rounded  btn-light fw-500 w-90" href="#">View As</a></span>
							</div>
							<div class="row">
								<div class="col-xxxl-7 col-xl-7 col-lg-6 col-sm-7 col-6">
									<div id="revenue5"></div>
								</div>
								<div class="col-xxxl-5 col-xl-5 col-lg-6 col-sm-5 col-6 align-self-top mt-45">
									<div class="d-flex align-items-top mb-20">
										<span class="badge badge-xl badge-dot badge-dark bg-blue me-15 mt-5"></span>
										<div class="text-start">
											<h3 class="m-0">5432</h3>
										 	<small>Male</small>
										</div>
								    </div>
									<div class="d-flex align-items-top">
										<span class="badge badge-xl badge-dot badge-dark bg-light me-15 mt-5"></span>
										<div class="text-start">
											<h3 class="m-0">1538</h3>
										 	<small>Female</small>
										</div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xxxl-3 col-xl-4 col-lg-6 col-lg-6">
					<div class="box box-body px-35 bg-lightgray">	
						<div class="d-flex justify-content-between align-items-center mb-15">
							<h4 class="m-0">Patient File</h4>
							<span class="float-end "><a class="btn btn-rounded  btn-light fw-500 w-90" href="patient_details.html">View As</a></span>
						</div>
						<div class="d-flex justify-content-between align-items-center mb-15">
							<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
								<div class="d-flex justify-content-between align-items-center">
									<img src="{% static 'images/pdf.png' %}" class="me-10 avatar-sm" alt="">
									<div>
										<p class="m-0 fs-16 fw-500 hover-blue">Prescription.pdf</p>
									</div>
								</div>
								<div class="dropdown">
									<a href="#"><i class="fa fa-download bg-light rounded p-5 me-5 text-dark" aria-hidden="true"></i></a>
									<a data-bs-toggle="dropdown" href="#" aria-expanded="false" class=""><i class="ti-more-alt rotate-90"></i></a>
									<div class="dropdown-menu dropdown-menu-end" style="">
										<a class="dropdown-item" href="#"><i class="ti-import"></i> Details</a>
										<a class="dropdown-item" href="#"><i class="ti-export"></i> Lab Reports</a>
									</div>
								</div>
							</div>								
						</div>
						<div class="d-flex justify-content-between align-items-center mb-15">
							<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
								<div class="d-flex justify-content-between align-items-center">
									<img src="{% static 'images/pdf.png' %}" class="me-10 avatar-sm" alt="">
									<div>
										<p class="m-0 fs-16 fw-500  hover-blue">X-ray report.pdf</p>
									</div>
								</div>
								<div class="dropdown">
									<a href="#"><i class="fa fa-download bg-light rounded p-5 me-5 text-dark" aria-hidden="true"></i></a>
									<a data-bs-toggle="dropdown" href="#" aria-expanded="false" class=""><i class="ti-more-alt rotate-90"></i></a>
									<div class="dropdown-menu dropdown-menu-end" style="">
										<a class="dropdown-item" href="#"><i class="ti-import"></i> Details</a>
										<a class="dropdown-item" href="#"><i class="ti-export"></i> Lab Reports</a>
									</div>
								</div>
							</div>								
						</div>
						<div class="d-flex justify-content-between align-items-center mb-13">
							<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
								<div class="d-flex justify-content-between align-items-center">
									<img src="{% static 'images/pdf.png' %}" class="me-10 avatar-sm" alt="">
									<div>
										<p class="m-0 fs-16 fw-500 hover-blue">Checkup.pdf</p>
									</div>
								</div>
								<div class="dropdown">
									<a href="#"><i class="fa fa-download bg-light rounded p-5 me-5 text-dark" aria-hidden="true"></i></a>
									<a data-bs-toggle="dropdown" href="#" aria-expanded="false" class=""><i class="ti-more-alt rotate-90"></i></a>
									<div class="dropdown-menu dropdown-menu-end" style="">
										<a class="dropdown-item" href="#"><i class="ti-import"></i> Details</a>
										<a class="dropdown-item" href="#"><i class="ti-export"></i> Lab Reports</a>
									</div>
								</div>
							</div>								
						</div>
						<div class="d-flex justify-content-between align-items-center">
							<div class="w-p100 rounded10 justify-content-between align-items-center d-flex">
								<div class="d-flex justify-content-between align-items-center">
									<img src="{% static 'images/pdf.png' %}" class="me-10 avatar-sm" alt="">
									<div>
										<p class="m-0 fs-16 fw-500 hover-blue">Screening.pdf</p>
									</div>
								</div>
								<div class="dropdown">
									<a href="#"><i class="fa fa-download bg-light rounded p-5 me-5 text-dark" aria-hidden="true"></i></a>
									<a data-bs-toggle="dropdown" href="#" aria-expanded="false" class=""><i class="ti-more-alt rotate-90"></i></a>
									<div class="dropdown-menu dropdown-menu-end" style="">
										<a class="dropdown-item" href="#"><i class="ti-import"></i> Details</a>
										<a class="dropdown-item" href="#"><i class="ti-export"></i> Lab Reports</a>
									</div>
								</div>
							</div>								
						</div>
					</div>
				</div>
			</div>				
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="https://themeforest.net/item/doclinic-medical-responsive-bootstrap-admin-dashboard/32737529">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights Reserved.
  </footer>

</div>
<!-- ./wrapper -->
{% endblock %}