{% extends 'includes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block body_attr %}
class="hold-transition light-skin sidebar-mini theme-primary fixed"
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block content %}

{% include 'includes/sidebar_content.html' %}
<style>
  .required-field::after {
    content: " *";
    color: red;
  }

  .form-control.is-invalid {
    border-color: #dc3545;
  }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper rounded-0">
  <div class="container-full ">
    <!-- Main content -->
    <section class="content">
      <div class="container-full">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="d-flex align-items-center justify-content-between gap-3">
              <div class="me-auto align-items-center">
                <nav>
                  <h4 class="page-title">Patients</h4>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Patients</li>
                  </ol>
                </nav>
              </div>
              <div>
                <a href="{% url 'patient_create' %}" class="btn btn-success d-flex align-items-center gap-3">Create
                  <span><i class="fas fa-plus" style="font-size: 10px !important;"></i></span>
                </a>
              </div>
          </div>
        </div>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Patient List</h3>
                </div>
                <div class="box-body">
                  <div class="table-responsive rounded card-table">
                    <table class="table border-no" id="data-table">
                      <thead>
                        <tr>
                          <th>S No.</th>
                          <th>Patient Name</th>
                          <th>Address</th>
                          <th>Doctor Assigned</th>
                          <th>Disease</th>
                          <th>Status</th>
                          <th>Emergency Contact</th>
                          <th>Discharge Summaries</th>
                          <th>Room Assigned</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for patient in patients %}
                        <tr class="hover-primary">
                          <td>#{{ patient.id }}</td>
                          <td>{{ patient.user.first_name }} {{ patient.user.last_name }}</td>
                          <td>{{ patient.address }}</td>
                          <td>
                            {% if patient.assigned_doctor %}
                             Dr. {{ patient.assigned_doctor.employee.user.get_full_name }}
                            {% else %}
                            N/A
                            {% endif %}
                          </td>
                          <td>{{ patient.disease|default:"N/A" }}</td>
                          <td>
                            {% if patient.status == 'In Treatment' %}
                            <span class="badge badge-danger-light">In Treatment</span>
                            {% elif patient.status == 'Recovered' %}
                            <span class="badge badge-success-light">Recovered</span>
                            {% elif patient.status == 'New Patient' %}
                            <span class="badge badge-info-light">New Patient</span>
                            {% endif %}
                          </td>
                          <td>{% if patient.emergency_contact_phone %}{{ patient.emergency_contact_phone }}{% else %}N/A {% endif %}</td>
                          <td><a href="">View all</a></td>
                          <td>{{ patient.assigned_room.room_number|default:"N/A" }}</td>
                          <td>
                            <div class="btn-group">
                              <a class="hover-primary dropdown-toggle no-caret" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'patient_detail' patient.pk %}">View Details</a>
                                <a class="dropdown-item" href="{% url 'patient_update' patient.pk %}">Edit</a>
                                <a class="dropdown-item" data-bs-toggle="modal" style="cursor: pointer;"  data-bs-target="#patient-delete-modal-{{ patient.id }}">
                                    Delete
                                </a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <!-- Delete patient Modal -->
                        <div class="modal fade" id="patient-delete-modal-{{ patient.id }}" tabindex="-1" aria-labelledby="patient-delete-modal-Label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="patient-delete-modal-Label">Confirm Delete patient</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete {{ patient.profile.user.get_full_name }}?
                              </div>
                              <div class="modal-footer d-flex align-items-center">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form action="{% url 'patient_delete' patient.pk %}" method="POST">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End Delete patient Modal -->
                        {% empty %}
                          
                        {% endfor %}
                      </tbody>
                    </table>                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.content -->
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- /.content-wrapper -->

<footer class="main-footer">
  <div class="pull-right d-none d-sm-inline-block">
    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
      <li class="nav-item">
        <a class="nav-link"
          href="https://themeforest.net/item/doclinic-medical-responsive-bootstrap-admin-dashboard/32737529"></a>
      </li>
    </ul>
  </div>
  &copy;
  <script>document.write(new Date().getFullYear())</script> <a href="https://www.multipurposethemes.com/">Hospital
    System</a>. All Rights Reserved.
</footer>

</div>

{% endblock %}