{% extends 'includes/base.html' %}
{% load static %}
{% load custom_filters %}

{% block body_attr %}
  class="hold-transition light-skin sidebar-mini theme-primary fixed"
{% endblock %}

{% block title %}
  Room List
{% endblock %}

{% block content %}
  {% include 'includes/sidebar_content.html' %}

  <div class="content-wrapper rounded-0">
    <div class="container-full">
      <section class="content">
        <div class="d-flex justify-content-between align-items-center my-4">
          <h4 class="page-title">Room List</h4>
          <a href="{% url 'room_create' %}" class="btn btn-success">Add New Room</a>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table border-no" id="data-table">
                <thead>
                  <tr>
                    <th>S No.</th>
                    <th>Room Number</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Capacity</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for room in rooms %}
                    <tr>
                      <td>#{{ forloop.counter }}</td>
                      <td>{{ room.room_number }}</td>
                      <td>{{ room.get_status_display }}</td>
                      <td>{{ room.get_room_type_display }}</td>
                      <td>{{ room.capacity }}</td>
                      <td>
                        <div class="btn-group">
                          <a class="hover-primary dropdown-toggle no-caret" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'room_detail' room.pk %}">View Details</a>
                            <a class="dropdown-item" href="{% url 'room_update' room.pk %}">Edit</a>
                            <a class="dropdown-item" data-bs-toggle="modal" style="cursor: pointer;" data-bs-target="#room-delete-modal-{{ room.id }}">Delete</a>
                          </div>
                        </div>
                      </td>
                      <!-- Delete room Modal -->
                      <div class="modal fade" id="room-delete-modal-{{ room.id }}" tabindex="-1" aria-labelledby="room-delete-modal-Label" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="room-delete-modal-Label">Confirm Delete Receptionist</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">Are you sure you want to delete {{ room.user.get_full_name }}?</div>
                            <div class="modal-footer d-flex align-items-center">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                              <form action="{% url 'room_delete' room.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Delete room Modal -->
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
      <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
        <li class="nav-item">
          <a class="nav-link" href="https://themeforest.net/item/doclinic-medical-responsive-bootstrap-admin-dashboard/32737529"></a>
        </li>
      </ul>
    </div>&copy;<script>
                  document.write(new Date().getFullYear())
                </script> <a href="https://www.multipurposethemes.com/">Hospital System</a>. All Rights Reserved.
  </footer>
{% endblock %}
